<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="ITConnect" content="width=device-width, initial-scale=1.0">
    <title>"ITConnect"</title>
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Подключение внешнего CSS-файла -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header class="flow1">
    <nav  class="navbar">
        <div class="container">
            <img src="/img/Logotype.svg" alt="Логотип ITConnect" class="logotype-1">
            <a href="/" class="navbar-brand">ITConnect</a>
            <div class="search-form">
                <button class="search-form_btn"><img class="search-form_img" src="/img/Search.svg" alt="Search" ></button>
                <input class="search-form_txt" type="text">
            </div>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="/allForms">Список портфолио</a></li>
                    <%if(user){%>
                        <%if(user.description.avatar) {%>
                            <a href="/portfolio/description"><img width="57" height="57" src="data:image/jpeg;base64,<%=user.description.avatar%>" class="users-lk"></a>
                        <%} else {%>
                            <a href="/portfolio/description"><img width="57" height="57" src="/img/users.png" class="users-lk"></a>
                        <%}%>
                    <%} else {%>
                        <a href="/registration"><button class="registr"><span>Регистрация</span></button></a>
                    <%}%>
                    <style>
                        .users-lk{
                            border-radius: 55px;
                        }
                    </style>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="page-main layout-1 ">
    <div class="flow1">
        <div class="container_1">
            <div class="item txt_1"><h1>Создайте цифровое портфолио</h1></div>
            <div class="item"><img src="img/photo.jpg" class="photo"></div>
            <div class="item"><p class="text_1">Простой и удобный дизайн для программистов</p></div>
        </div>
        <div class="container_2">
            
            <div class="item"><a href="/registration"><button class="create"><span>Создать портфолио</span></button></a></div>
            <div class="item"><p class="free">Бесплатная регистрация</p></div>
        </div>
    </div>
        <div class="container_3">
            <div class="flow1">
                <div class="txt-2 container_3">
                    <div class="item1"><h2 class="h2">Продемонстрируйте свои навыки</h2></div>
                    <div class="item1"><p class="information">ITConnect позволяет программистам создать онлайн-портфолио, чтобы продемонстрировать свои навыки, 
                        опыт и достижения потенциальным работодателям и клиентам.</p></div>
                </div>
                <div class="join">
                    <div class="item2"><img src="img/Add User Male.svg" alt="User">
                        <h4>Создайте профиль</h4>
                        <p class="info">Зарегистрируйтесь в ITConnect, чтобы создать свой профиль. 
                            Добавьте подробную информацию о своей биографии, навыках, образовании, 
                            сертификатах и опыте.</p>
                        <a href="/registration" class="sign">Sign up</a> <img src="img/Line.svg" alt="Line" >
                    </div>
                    <div class="item2"><img src="img/Code.svg" alt="Code">
                        <h4>Загружайте свои проекты</h4>
                    <p class="info1">Загрузите свои лучшие проекты и примеры кода, 
                            чтобы продемонстрировать свои навыки и 
                            опыт разработки потенциальным работодателям.</p>
                    </div>
                    <div class="item2"><img src="img/Export Pdf.svg" alt="Export">
                        <h4>Экспортируйте данные </h4>
                        <p class="info">Легко экспортируйте портфолио из ITConnect в виде стилизованного PDF или 
                            HTML-сайта, чтобы поделиться им по электронной почте или в Интернете.</p>
                    </div>
                </div>
            </div>
        </div>
</main>
<%- include('portfolioFooter'); -%>
</body>