<header class="flow1">
    <nav  class="navbar">
        <div class="container">
            <img src="/img/Logotype.svg" alt="Логотип ITConnect" class="logotype-1">
            <a href="/" class="navbar-brand">ITConnect</a>
            <div class="search-form">
                <button class="search-form_btn"><img class="search-form_img" src="/img/Search.svg" alt="Search" ></button>
                <input class="search-form_txt" type="text">
            </div>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="list-port"><a href="/allForms">Список портфолио</a></li>

                </ul>
                <a href="#"><img src="/img/users.png" class="users-lk"></a>
            </div>
        </div>
    </nav>
</header>