<footer class="container_5">
    <div class="flow1">
        <div class="container_4">
            <div ><h3 class="infor">Информация</h3></div>
            <div ><h3 class="help">Центр помощи</h3></div>
            <div ><h3 class="ysl">Условия</h3></div>
            <div ><h3 class="sos">Социальные сети</h3></div>
            <div ><a href="/" class="txt-3">Главная</a></div>
            <div ><a href="#" class="txt-3">Центр помощи</a></div>
            <div ><a href="https://www.rbc.ru/politics/" class="txt-3">Политика</a></div>
            <div ><a href="https://t.me/uhdsgggd" class="txt-3">Telegram</a></div>
            <div ><a href="#" class="txt-3">О нас</a></div>
            <div ><a href="https://t.me/rezoo000" class="txt-3">Обратная связь</a></div>
            <div ><a href="https://digital.gov.ru/ru/documents/3069/" class="txt-3">Конфиденциальность</a></div>
            <div ><a href="https://vk.com/iddanya_yashenko" class="txt-3">Вконтакте</a></div>
            <div ><a href="#" class="txt-3">Блог</a></div>
        </div>
    </div>
    <div class="flow1">
        <div ><img src="/img/Line 7.svg" class="line7">  </div>
        <div class="container_6">
            <div class="item3 itemlog"><img src="/img/Logotype.svg" alt="Logotype" class="logotype-2"></div>
            <div class="item3 itembrand"><h3 class="navbar-brand-1">ITConnect</h3></div>
            <div class="item3 itemavtor"><p class="txt-4">Авторские права © ITConncect 2024. Все права защищены.</p></div>
        </div>
    </div>
</footer>