<header>
    <nav  class="navbar">
        <div class="container">
            <img src="img/Logotype.svg" alt="Логотип ITConnect" class="hero-img">
            <a href="#" class="navbar-brand">ITConnect</a>
            <div class="search-form">
                <button class="search-form_btn"><img class="search-form_img" src="img/Search.svg" alt="Search" ></button>
                <input class="search-form_txt" type="text">
            </div>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Портфолио</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>