<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header class="flow1">
        <nav  class="navbar">
            <div class="container">
                <img src="img/Logotype.svg" alt="Логотип ITConnect" class="logotype-1">
                <a href="/" class="navbar-brand">ITConnect</a>
                <div class="search-form">
                    <button class="search-form_btn"><img class="search-form_img" src="img/Search.svg" alt="Search" ></button>
                    <input class="search-form_txt" type="text">
                </div>
                <div class="navbar-wrap">
                    <ul class="navbar-menu">
                        <li><a href="/">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="/allForms">Список портфолио</a></li>
                        <a href="/registration"><button class="registr"><span>Регистрация</span></button></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Все анкеты:</h1>
        <% if (users.length) { %>
            <ol>
                <% users.forEach(({name, email})=>{ %>
                    <li>
                        <strong>Name </strong> <%= name %>
                        <strong>Email </strong><%= email %>
                    </li>
                <% }) %>
            </ol>
        <% } else { %>
            <p>Нет размещенных анкет(</p>
        <% } %>
    </main>
    <footer class="container_5">
        <div class="flow1">
            <div class="container_4">
                <div ><h3 class="infor">Информация</h3></div>
                <div ><h3 class="help">Центр помощи</h3></div>
                <div ><h3 class="ysl">Условия</h3></div>
                <div ><h3 class="sos">Социальные сети</h3></div>
                <div ><a href="/" class="txt-3">Главная</a></div>
                <div ><a href="#" class="txt-3">Центр помощи</a></div>
                <div ><a href="https://www.rbc.ru/politics/" class="txt-3">Политика</a></div>
                <div ><a href="https://t.me/uhdsgggd" class="txt-3">Telegram</a></div>
                <div ><a href="#" class="txt-3">О нас</a></div>
                <div ><a href="https://t.me/rezoo000" class="txt-3">Обратная связь</a></div>
                <div ><a href="https://digital.gov.ru/ru/documents/3069/" class="txt-3">Конфиденциальность</a></div>
                <div ><a href="https://vk.com/iddanya_yashenko" class="txt-3">Вконтакте</a></div>
                <div ><a href="#" class="txt-3">Блог</a></div>
            </div>
        </div>
        <div class="flow1">
            <div ><img src="img/Line 7.svg" class="line7">  </div>
            <div class="container_6">
                <div class="item3 itemlog"><img src="img/Logotype.svg" alt="Logotype" class="logotype-2"></div>
                <div class="item3 itembrand"><h3 class="navbar-brand-1">ITConnect</h3></div>
                <div class="item3 itemavtor"><p class="txt-4">Авторские права © ITConncect 2024. Все права защищены.</p></div>
            </div>
        </div>
    </footer>
</body>
</html>