<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="ITConnect" content="width=device-width, initial-scale=1.0">
    <title>"ITConnect"</title>
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Подключение внешнего CSS-файла -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<header>
    <nav  class="navbar">
        <div class="container">
            <img src="img/Logotype.svg" alt="Логотип ITConnect" class="hero-img">
            <a href="#" class="navbar-brand">ITConnect</a>
            <div class="search-form">
                <button class="search-form_btn"><img class="search-form_img" src="img/Search.svg" alt="Search" ></button>
                <input class="search-form_txt" type="text">
            </div>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Портфолио</a></li>
                    <a href="/registration"><button class="registr"><span>Зарегестрироваться</span></button></a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="txt-1">
        <h1>Создайте цифровое портфолио</h1>
        <p class="text_1">Простой и удобный дизайн для программистов</p>
        <a href="#"><button class="create"><span>Создать портфолио</span></button></a>
        <p>Бесплатная регистрация</p>
        <img src="img/photo.jpg" class="photo">
    </div>
    <div class="txt-2">
        <h2>Продемонстрируйте свои навыки</h2>
        <p>ITConnect позволяет программистам создать онлайн-портфолио, чтобы продемонстрировать свои навыки,
            опыт и достижения потенциальным работодателям и клиентам.</p>
    </div>
    <div class="txt-3">
        <div class="Create">
            <img src="img/Add User Male.svg" alt="User">
            <h4>Создайте профиль</h4>
            <p>Зарегистрируйтесь в ITConnect, чтобы создать свой профиль.
                Добавьте подробную информацию о своей биографии, навыках, образовании,
                сертификатах и опыте.</p>
            <h4><a href="/registration">Sign up</a> <img src="img/Line.svg" alt="Line"></h4>
            <img src="img/Line2.svg">
        </div>
    </div>
    <div class="txt-4">
        <div class="download">
            <img src="img/Code.svg" alt="Code">
            <h4>Загружайте свои проекты</h4>
            <p>Загрузите свои лучшие проекты и примеры кода,
                чтобы продемонстрировать свои навыки и
                опыт разработки потенциальным работодателям.</p>
        </div>
    </div>
    <div class="txt-5">
        <div class="export">
            <img src="img/Export Pdf.svg" alt="Export">
            <h4>Экспортируйте данные </h4>
            <p>Легко экспортируйте портфолио из ITConnect в виде стилизованного PDF или
                HTML-сайта, чтобы поделиться им по электронной почте или в Интернете.</p>
        </div>
    </div>
    <div class="txt-6">
        <div class="Safety">
            <img src="img/Security Lock.svg" alt="Safety">
            <h4>Безопасность</h4>
            <p>ITConnect использует
                шифрование и контроль доступа
                для обеспечения безопасности
                и конфиденциальности вашего
                портфеля и данных.</p>
        </div>
    </div>
</main>
<%- include('./parts/footer.ejs')%>
</body>