<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
    <main>
        <h1>Вы успешно зарегистрировались!</h1>
        <button>Мой профиль</button>
        <a href="/users"><button id="allForms">Смотреть все анкеты</button></a>
    </main>
    <%- include('./parts/footer.ejs')%>
</body>
</html>