<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="ITConnect" content="width=device-width, initial-scale=1.0">
    <title>"RegistrationForm"</title>
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Подключение внешнего CSS-файла -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <nav  class="navbar">
            <div class="container">
                <img src="img/Logotype.svg" alt="Логотип ITConnect" class="hero-img">
                <a href="#" class="navbar-brand">ITConnect</a>
                <div class="search-form">
                    <button class="search-form_btn"><img class="search-form_img" src="img/Search.svg" alt="Search" ></button>
                    <input class="search-form_txt" type="text"> 
                </div>
                <div class="navbar-wrap">
                    <ul class="navbar-menu">
                        <li><a href="/">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Портфолио</a></li> 
                        <a href="/enter"><button class="come-in"><span>Войти</span></button></a>
                    </ul>
                </div>
            </div>  
        </nav>
    </header>
    <main>
        <div class="circle">
            <div class="registr-form-container">
                <h1 class="form-title">
                    Регистрация
                </h1>
                <div class="form-fields">
                    <div class="form-field">
                        <input type="text" placeholder="Введите имя пользователя" id="name">
                    </div>
                    <div class="form-field">
                        <input type="text" placeholder="Введите свой телефон" id="phone">
                    </div>
                    <div class="form-field">
                        <input type="text" placeholder="Пароль" id="password">
                    </div>
                    <div class="form-field">
                        <input type="text" placeholder="Повторите пароль" id="repeat-password">
                    </div>
                    <div class="form-button">
                        <a href="/registration/phone"><button class="registr" type="submit" id="registr"><span>Зарегестрироваться</span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./parts/footer.ejs')%>
    <!--подключаю скрипт создания пользователя-->
    <script src="createUser.js"></script>
</body>