<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./parts/header.ejs')%>
    <main>
        <h1>Все анкеты:</h1>
        <% if (users.length) { %>
            <ol>
                <% users.forEach(({name, phone, password})=>{ %>
                    <li>
                        <strong>Name </strong> <%= name %>
                        <strong>Phone </strong><%= phone %>
                    </li>
                <% }) %>
            </ol>
        <% } else { %>
            <p>Нет размещенных анкет(</p>
        <% } %>
    </main>
    <%- include('./parts/footer.ejs')%>
</body>
</html>