body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #000;
    line-height: 1.4;
}

.flow1{
    width: 100%;
    max-width: 1274px;
    margin: 0 auto;
}

.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{ 
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 25px;
    transition: all .0.6s ease-in-out;
}

.navbar-menu li a:hover{
    color: #458ADB;
}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.navbar-brand{
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    margin-left: 115px;
    text-decoration: none;
    color: #000;
    
}

.navbar-brand:hover{
   color: #458ADB;
   transition: all .0.7s ease-in-out;
}

.logotype-1{
    margin-top: 5px;
}

.users-lk{
    width: 45px;
    height: 45px;
    margin-top: 25px;
}

.list-port{
    margin-right: 110px;
}

.search-form{
    border: 2px solid #458ADB;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 282px;
    border-radius: 50px;
    margin-left: 165px;
    margin-top: 5px;
    overflow: hidden;
    background-color: white;
}

.search-form_txt{
    border: none;
    width: 282px;
    outline: none;
    font-size: 24px;
    padding-inline: 5px;
    padding-right: 5px;
    background-color: transparent;
}

.search-form_btn{
    border: none;
    background-color: transparent;
}

.search-form_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.container_4{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 80px 50px 50px;
    color:#000;
    margin-top: 412px;
}

.users{
    width: 339px;
    height: 339px;
    
}


.change-images{
    outline: none;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
    width: 335px;
    height: 60px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #32CD32;
    color: ghostwhite;
    top: 250px;
    right: px;
}
   
.change-images span{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
   
.change-images:hover span{
    color: white;
}
   
.change-images::before,
.change-images::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
.change-images::before{
    content: "";
    background: 
    #00FF00;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.change-images:hover::before{
    transform: translate3d(100%, 0, 0);
}

.save{
    outline: none;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
    width: 335px;
    height: 60px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #008080;
    color: ghostwhite;
    top: 325px;
    right: 340px;
}
   
.save span{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
   
.save:hover span{
    color: white;
}
   
.save::before,
.save::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
.save::before{
    content: "";
    background: 
    #35C1CA;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.save:hover::before{
    transform: translate3d(100%, 0, 0);
}


.cancel{
    border: none;
    font-family: 'Inher' , sans-serif;
    position: relative;
    bottom: 100px;
    right: 340px;
}

.cancel{
    outline: none;
    cursor: pointer;
    padding: 15px 2px;
    width: 336px;
    height: 60px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #800000;
    color: ghostwhite;
    top: 400px;
    right: 680px;
}
   
.cancel span{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
   
.cancel:hover span{
    color: white;
}
   
.cancel::before,
.cancel::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
.cancel::before{
    content: "";
    background: #D62D4B;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.cancel:hover::before{
    transform: translate3d(100%, 0, 0);
}


.name{
    width: 300px;
    border: none;
    font-family: 'Inher' , sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    background: white;
    color: black;
    bottom: 121px;
    left: 384px;
}

.old{
    width: 300px;
    border: none;
    font-family: 'Inher' , sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    background: white;
    color:#747474;
    bottom: 80px;
    left: 92px;
}

.redactor{
    outline: none;
    cursor: pointer;
    border: none;
    padding: 8px 75px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #012d53;
    color: ghostwhite;
    top: 300px;
}

.txt-btn{
    font-size: 24px;

}

.img-sertificat{
    position: relative;
    bottom: 50px;
    left: 20px;
}

.btn-srt{
    position: relative;
    bottom: 40px;
    left: 20px;
}

.btn-new {
    border: none;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

  
.redactor::before{
    content: "";
    background: #2D87D6;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.redactor:hover::before{
    transform: translate3d(100%, 0, 0);
}

.container{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 85px;
    
}

#profilePic {
    border-radius: 55px;
}
  
.container_1 {
    display: grid;
    grid-template-columns: 115px 280px 140px 100px;
    grid-column-gap: 17px;
    justify-content: end;
    margin-top: 66px;
}

.item{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.Name{
    width: 150px;
    margin-left: 485px;
    margin-top: 35px;
}

.item1{
    text-decoration: none;
    color: #000;
}

.item1:hover{
    color: #458ADB;
    transition: all .0.7s ease-in-out;
}

.container1{
    display: grid;
    grid-template-columns: 295px ;
    justify-content: center;
}

.txt{
    font-family: 'Montserrat' , sans-serif;
    font-size: 24px; 
}

.lang{
    text-decoration: none;
    color: #747474;
}

.container2{
    display: grid;
    grid-template-columns: 295px ;
    justify-content: center;
}

.description-input{
    width: 743px;
    height: 152px;
    border-radius: 9px;
    border: 3px solid #458ADB;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-left: 490px;
}

.users {
    margin-top: 120px;
    margin-bottom: 31px;
}

.line{
    border-bottom: 1px solid #000;
    width: 730px;
    margin-left: -5px;
}

.Name{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.name-user {
    display: grid;
    grid-template-columns: 242px;
    align-items: end;
    justify-content: center;
    width: 300px;
}
  
.container_5{
    background: #EEF5FC;
}

.infor{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    width: 148px;
}

.help{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    width: 170px;
}

.ysl{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.sos{
    width: 201px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto;
    line-height: 28.13px;   
}

.txt-3{
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

.txt-3:hover{
    color: #458ADB;
}

.line7{
    padding-top: 64px;
}

/*
.item3{
    border: 1px solid tomato;
}
*/

.container_6{
    display: grid;
    grid-template-columns: 100px 160px 980px;
    grid-column-gap: 10px;
    grid-auto-rows: minmax(0, auto);
    align-items: center;
}
.navbar-brand-1{
    font-family: 'Roboto',sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.navbar-brand-1:hover{
    color: #458ADB;
    transition: all .0.7s ease-in-out;
 }

.txt-4{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 525px;
}

.itemlist{
    list-style-type: none;
}

.container-sertificat{
    width: 100%;
    max-width: 320px;
    margin: 0 auto; 
}

.img-sertificat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

.img-plus{
    width: 120px;
}

.achievements-link{
    color: #6B90EE;
}

.button-img{
    border: white;
}
  
